@media only screen and (max-width: 600px) {
    html {
        margin: 0 20px;
    }

    .header__shop {
        margin-left: 0;
        margin-right: 0;
        margin-top: 0;
        display: block;
    }

    .header__img {
        display: flex;
        justify-content: center;
        cursor: pointer;
    }

    .header__group {
        display: block;
    }

    .header__nav {
        display: block;
    }

    .header__nav-list {
        display: block;
    }

    .header__search {
        margin-left: 0; 
        margin-right: 0; 
        display: flex;
        justify-content: end;
        align-items: center;
    }
    
    .body__shop-product {
        margin-left: 0;
        margin-right: 0;
    }

    .body__product-list {
        display: block;
        list-style: none;
        justify-content: space-between;
        margin-bottom: 50px;
    }

    .body__product-item {
        width: 100%;
        position: relative;
        overflow: hidden;
    }
}